.loader {
  align-items: center;
  background: rgba($color: $dark-blue, $alpha: 1);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}
